.odjavaLink {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    position: absolute;
    top: 0.5%;
    left:93.65%;
    margin:0 auto;
    display: flex;
}

.odjavaLink:hover {
    background-color: rgb(197, 31, 31);
}