.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21798d;
  }
  
  .form-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px #555;
    background-color: #ffffff;
  }
  
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  h1 {
    text-align: center;
    width: 100%;
    color: #111;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  input,
  textarea   {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: #999;
  }
  
  input.error {
    border: 1px solid red;
  }

  .error { 
    border: 1px solid red; 
  }

  .Ime,
  .rasa,
  .spol,
  .tezina,
  .opis {
    margin-right: 1%;
  }
  
  .vrsta,
  .godine,
  .velicina,
  .slikaA {
    margin-left: 1%;
  }

  .slika {
    margin-left: 1%;
    width:49%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .Ime,
  .vrsta,
  .rasa,
  .godine,
  .spol,
  .velicina,
  .tezina,
  .slikaA {
    width:49%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .opis {
    width:100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .kreirajZivotinju {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .kreirajZivotinju button {
    background-color: #21798d;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    border-radius: 8px;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
  }

  .udomiZivotinju {
    margin-bottom: 9%;
  }

  .udomiZivotinju button {
    background-color:white;
    color: black;
    border: 1px solid black;
    width: 30%;
    border-radius: 8px;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    position: absolute;
    right: 5%;
  
  }

  .udomiZivotinju button:hover {
    background-color: rgb(218, 206, 206);
    cursor: pointer; 
  }

  .udomiZivotinju button:disabled {
    background-color: #858683;
    color: black;
    cursor:not-allowed;
  }
  
  .kreirajZivotinju button:hover {
    color: white;
    background-color: #154f5c;
    border: 2px solid white;
  }

  .zivotinje {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
  }
  
  .zivotinja {
    box-sizing: border-box;
    background: white;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 48%;
    color: white;
    flex-basis: width;
    background-color: #21798d;
  
  }

  .zivotinja h3 {
    font-size: 1rem;
    opacity: 0.7;
  }
  
  .zivotinja h2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }

  .detalji {
    text-align: left;
  }

  .App {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .App > h1 {
    margin-bottom: 5px;
  }
  
  .App > h2 {
    margin-top: 5px;
    opacity: 0.7;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .slika {
    position: absolute;
    top: 26%;
    right: 2%;
    width: 250px;
    height: 250px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  form button:disabled {
    background-color: #858683;
    color: white;
    cursor:not-allowed;
  }

  form button:disabled:hover {
    background-color: #858683;
    color: white;
    cursor:not-allowed;
  }

