.home-page-container {
    background: url('../assets/img/HeaderPic.jpg') center center/cover no-repeat;

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0,0,0.2);
    object-fit: contain;
}

.drawers {
    width: 180;
    background-color: red;
}