.recipes {
    padding: 4rem;
    background: whitesmoke;
    /* background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.5)), url('../assets/img/OH3C000.jpg');*/
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.recipes__container {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;
}

.recipes__wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.recipes__wrapper__recipe {
    float: left;
    display: block;
    margin: 50px 0 45px;
    height: 25%;
    width: 25%;
}

.recipes__container__recipe {
    width: 100%;
    margin-left: 25px;
}


.recipes__items {
    margin-bottom: 24px;
}

.recipes__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}

.recipes__item__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    flex-flow: column;
    width: 100%;
    height: 100%;
    box-shadow: 0 6px 20px black;
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.recipes__item__pic-wrap {

    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 67%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.recipes__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.recipes__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.recipes__item__img:hover {
    transform: scale(1.1);
}

.recipes__item__info {
    padding: 15px 30px 30px;
}

.recipes__item__text {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 18px;
}


@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
}

@media only screen and (min-width: 1024px) {
    .recipes__items {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .recipes__item {
        margin-bottom: 2rem;
    }
}