#logo {
    width: 30px;
    height: 30px;
}
::placeholder {
    color: black;
}
*{
    margin:0;
    padding:0;
    border:0;
}
body {
    position:fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    height:100%;
    width:100%;
}

#side {
    background-color: rgb(234, 238, 247);
}
#glavniSadrzaj {
    background-color:rgb(185, 177, 221);
}

#glavna {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: inherit;
    padding-top: 5%;
}
.sporedne {
    padding-left: 15%;
    padding-top:5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-bottom: 2%;
}

.godina {
    height: 40%; width:40%;
    margin-bottom: 1%;
    margin-right: 5%;   
    margin-left: 5%;
    margin-top:3%;
    padding-top:4%;
    float: left;
    overflow: hidden;
    display: table;
    background-color: rgb(232, 235, 239);
}
.godina p {
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 3%;
}

.naslov {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#header {
    width: 100%;
    height: 8%;
    background-color: rgb(255,204,153); 
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: 2px solid darkblue;
}

#footer {
    background-color: rgb(255,204,153); 
    width: 100%;
    font-size: 20px;
    position:fixed;
    bottom:0px;
    height: 5%;
    border-top: 2px solid darkblue;
}

#footer p {
    text-align: center;
    padding-top:0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.naziv {
    font-size:28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(160,82,45);
    float: right;
}


@media screen and (min-width: 600px) {
    .naziv {
        position:fixed;
        bottom: 93%;
        right: 93px; 
    }
    .lista {
        list-style: none;
        display:inline;
        position: relative;
        left: 10px;
    }
    #side {
        width:35%;
        float: left;
        height: 83%;
    }
    #glavniSadrzaj {
        width: 65%;
        float: left;
        height: 90%;
    }
    input[type = text] {
        border-radius: 4px;
        width: 60%;
        height: 3%;
        margin-top:5%;
        margin-left: 15%;
        margin-top:2%;
        border:2px solid rgb(106, 107, 109);

    }
    input[type = submit] {
        border-radius: 3px;
        width: 28%;
        height: 23px;
        float: right;
        margin-right:25%; 
        margin-top:18%;
        border:1px solid rgb(149, 148, 153);
        background-color: rgb(248, 247, 252);
    } 
    
    input[type = reset] {
        border-radius: 3px;
        width: 28%;
        height: 23px;
        float: left;
        margin-left: 15%;
        margin-top:18%;
        border:1px solid rgb(149, 148, 153);
        background-color: rgb(248, 247, 252);
    }
}

@media screen and (max-width: 600px) {
    .naziv {
        font-size:20px;
        position: relative;
        top:-13px;
    }
    #header {
        height: 8%;
    }
    #footer {
        height: 3%;
    }
    #footer p{
        font-size: 13px;
    }
    .lista {
        display:inline;
        list-style: none;
        position: relative;
        left: 10px;
        top:-17px;   
    }

    input[type = submit] {
        float:right;    
        margin-right: 10%;
        margin-top:2%;
        border:1px solid rgb(149, 148, 153);
        width: 23%;
        height: 25px;
    } 
    input[type = reset] {
        width: 23%;
        height: 25px;
        margin-left: 36%;
        border:1px solid rgb(149, 148, 153);
        margin-top:2%;
    }
    input[type = text] {
        border-radius: 4px;
        margin-left: 6%;
        margin-top:0%;
        border:2px solid rgb(106, 107, 109);
        height: 6%;
    } 
    #side {
        width:100%;
        height: 40%;
    }
    #glavniSadrzaj {
        width: 100%;
        height:60%;
    }
    .sporedne {
        padding-left: 6%;
        padding-top:1%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding-bottom: 2%;
    }
    #glavna {
        padding-top: 2%;
        font-size: 15px;
    }
    .godina {
        height: 28%; width:28%;
        margin-bottom: 1%;
        margin-right: 5%;   
        margin-left: 10%;
        margin-top:2.5%;
    }
    .godina p {
        font-size: 13.5px;
    }
}
/*KRAJ*/
/*------------------------------------------------*/