#title {
    text-align: center;
    font-family: arial, sans-serif;
  }

  #uloge {
    table-layout: fixed;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }

  #uloge td, #uloge th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #uloge tr:nth-child(even){background-color: #f2f2f2;}

  #uloge tr:hover {background-color: #ddd;}

  #uloge th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(76, 119, 175);
    color: white;
  }

  .btn {
      margin-top: 5%;
    background-color: rgb(76, 119, 175);
  }

  .forma {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-grupa {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
      label {
        font-size: 16px;
      }
      input {
        margin-top: 6px;
        min-width: 18em;
        height: 25px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        background-color: #f3f3f3;
        border: 1px solid #000;
        border-radius: 10px;
        margin-bottom:10px;
        transition: all 250ms ease-in-out;
        &:hover {
          background-color: #ffffff;
          box-shadow: 0px 0px 14px 0.3px #0e81ce96;
        }

        &:focus {
          outline: none;
          box-shadow: 0px 0px 12px 0.8px #3474dbb2;
        }
      }
    }
  }